.container {
  composes: container from '../app/app.module.css';
  display: flex;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 228px);
}

.burger_constructor {
  composes: pt-25 pb-10 pl-4 from global;
}

.items {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100% - 568px);
}

.list {
  composes: mt-4 mb-4 from global;
  display: grid;
  flex-grow: 1;
  list-style: none;
  padding: 0;
  grid-auto-flow: row;
  grid-auto-rows: 80px;
  gap: 16px;
  overflow-y: scroll;
}

.list_empty {
  composes: list;
  composes: ml-8 mr-4 text from global;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px dashed var(--background-element);
  border-radius: var(--common-border-radius-s);
  color: var(--text-inactive-color);
  overflow: hidden;
}

.list_active {
  composes: list_empty;
  background-color: var(--background-element);
}

.list_empty:hover {
  padding: 0;
  overflow: hidden;
}

.list::-webkit-scrollbar {
  display: none;
  width: 0;
}

.list:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.list::-webkit-scrollbar-track {
  background: var(--background-element);
}

.list::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}

.total {
  composes: mt-10 pr-4 from global;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sum {
  composes: mr-10 from global;
  display: flex;
  align-items: center;
}

.sum svg {
  margin-left: 9px;
  width: 33px;
  height: 33px;
}

.total_text {
  composes: text text_type_digits-medium from global;
}