.container {
  composes: container from '../app/app.module.css';
  max-height: calc(100vh - 168px);
  display: flex;
  flex-direction: column;
}

.ingredients {
  composes: pt-10 pb-10 from global;
}

.title {
  composes: text text_type_main-large mb-5 from global;
  color: var(--text-primary-color);
}

.tabs {
  display: flex;
}

.types {
  flex-shrink: 1;
  overflow-y: scroll;
  list-style: none;
  padding: 0 8px 0 0;
  margin: 40px 0 0;
}

.types:hover {
  padding: 0;
}

.types::-webkit-scrollbar {
  display: none;
  width: 0;
}

.types:hover::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.types::-webkit-scrollbar-track {
  background: var(--background-element);
}

.types::-webkit-scrollbar-thumb {
  background-color: var(--text-inactive-color);
}